<a href="https://colab.research.google.com/github/ReidelVichot/PUS2022_Heat-TreesPHL/blob/main/MidTermCleaning_draft.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [57]:
!pip install geopandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: geopandas in /usr/local/lib/python3.7/dist-packages (0.10.2)
Requirement already satisfied: fiona>=1.8 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.22)
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.3.5)
Requirement already satisfied: pyproj>=2.2.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (3.2.1)
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.5.post1)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2022.9.24)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: munch in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (22.1.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2022.6)

In [58]:
import geopandas as gpd
import pandas as pd
import matplotlib.pyplot as plt

In [59]:
heat_original = gpd.GeoDataFrame.from_file("https://opendata.arcgis.com/api/v3/datasets/ee1f9ce6aa6f41f08fcdfa5101f203d7_0/downloads/data?format=shp&spatialRefId=4326&where=1%3D1")
trees_original = gpd.GeoDataFrame.from_file("https://opendata.arcgis.com/api/v3/datasets/30ef36e9e880468fa74e2d5b18da4cfb_0/downloads/data?format=shp&spatialRefId=4326")

In [94]:
print(trees_original.shape, heat_original.shape)

(152453, 7) (384, 11)

In [96]:
heat = heat_original[["GEOID10", "HVI_SCORE", "geometry"]].dropna()
trees = trees_original[["geometry"]].dropna()
print(trees.shape, heat.shape)

(152453, 1) (374, 3)

In [77]:
heat["geometry"].loc[0].contains(trees["geometry"].loc[0])

False

In [ ]:
heat["trees"] = ""
trees["flag"] = 0
for i in range(len(heat)):
  ct_trees = 0
  for k in range(len(trees)):
    if heat["geometry"].loc[i].contains(trees["geometry"].loc[k]):
      ct_trees = ct_trees + 1

  heat["trees"].loc[i] = ct_trees

In [ ]:
trees["GEOID10"] = ''
# check for each citibike stations to see what CT they are belong to
for i in range(len(trees)-1):
    a = heat[heat.geometry.intersects(
        trees.loc[i].geometry)]["GEOID10"].values[0]
    
    trees.loc[i,"GEOID10"] = a;

In [126]:
trees["flag"] = 0

In [127]:
trees

                          geometry GEOID      GEOID10  flag
0       POINT (-75.21050 39.98383)        42101980000     0
1       POINT (-75.21053 39.98374)        42101980000     0
2       POINT (-75.21041 39.98376)        42101980000     0
3       POINT (-75.21060 39.98395)        42101980000     0
4       POINT (-75.21028 39.98376)        42101980000     0
...                            ...   ...          ...   ...
152448  POINT (-75.18320 39.97549)                        0
152449  POINT (-75.18321 39.97539)                        0
152450  POINT (-75.06332 40.05338)                        0
152451  POINT (-75.16588 40.02975)                        0
152452  POINT (-75.16570 40.04476)                        0

[152453 rows x 4 columns]

In [86]:
range(len(trees))

range(0, 152453)

In [ ]:
f, ax = plt.subplots(figsize=(8,8))
trees.plot(column='NAME10', alpha=1, linewidth=0.5,
              ax=ax, cmap='Paired')

In [ ]:
trees["NAME10"].unique()

In [ ]:
trees

In [ ]:
f, ax = plt.subplots(figsize=(10,10))
#ax.set_xlabel("feet easting")
#ax.set_ylabel("feet northing")
#ct_shape.boundary.plot(ax=ax, alpha=0.5)
heat.plot(ax=ax, color="None", edgecolor='k')
trees.plot(ax=ax, c='orange', markersize = 0.5);

In [ ]:
trees_original.loc[0].values[0]

In [102]:
trees["GEOID10"] = ''
# check for each citibike stations to see what CT they are belong to
for i in trees.index:
    a = heat[heat.geometry.intersects(trees.loc[i].geometry)]["GEOID10"].values[0]
    
    trees.loc[i,'GEOID10'] = a

IndexError: ignored

In [123]:
b = heat["GEOID10"] == "42101035100"
import numpy as np
np.where(b)[0]

array([311])

In [ ]:
heat