<a href="https://colab.research.google.com/github/ReidelVichot/PUS2022_Heat-TreesPHL/blob/main/MidTermCleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [214]:
!pip install geopandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: geopandas in /usr/local/lib/python3.7/dist-packages (0.10.2)
Requirement already satisfied: pyproj>=2.2.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (3.2.1)
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.5.post1)
Requirement already satisfied: fiona>=1.8 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.22)
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.3.5)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (22.1.0)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2022.9.24)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: munch in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (1.21.6)

In [215]:
import geopandas as gpd
import pandas as pd
import matplotlib.pyplot as plt

In [216]:
heat_original = gpd.GeoDataFrame.from_file("https://opendata.arcgis.com/api/v3/datasets/ee1f9ce6aa6f41f08fcdfa5101f203d7_0/downloads/data?format=shp&spatialRefId=4326&where=1%3D1")
trees_original = gpd.GeoDataFrame.from_file("https://opendata.arcgis.com/api/v3/datasets/30ef36e9e880468fa74e2d5b18da4cfb_0/downloads/data?format=shp&spatialRefId=4326")

In [217]:
print(trees_original.shape, heat_original.shape)

(152453, 7) (384, 11)

In [218]:
heat = heat_original[["GEOID10", "HVI_SCORE", "geometry"]].dropna().reset_index()
heat.drop(columns=["index"], inplace=True)
trees = trees_original[["geometry"]].dropna().reset_index()
trees.drop(columns=["index"], inplace=True)
print(trees.shape, heat.shape)

(152453, 1) (374, 3)

the heat data had 10 rows with NAN that were eliminated

In [219]:
'''
trees.drop(index=5, axis= 0, inplace= True)
trees.reset_index(inplace=True)
trees.drop(columns=["index"], inplace=True)
'''

'\ntrees.drop(index=5, axis= 0, inplace= True)\ntrees.reset_index(inplace=True)\ntrees.drop(columns=["index"], inplace=True)\n'

In [220]:
#len(trees) 152264

In [221]:
'''
heat
heat["trees"] = ""

for i in range(len(heat)):
  ct_trees = 0
  k=0
  s = len(trees)
  while k < s:
    if heat["geometry"].loc[i].contains(trees["geometry"].loc[k]) == True:
      ct_trees = ct_trees + 1
      trees.drop(index=k, axis= 0, inplace= True)
      trees.reset_index(inplace=True)
      trees.drop(columns=["index"], inplace=True)
    k = k+1

    heat["trees"].loc[i] = ct_trees
  print(heat["GEOID10"].loc[i], " was counted");
  

'''

'\nheat\nheat["trees"] = ""\n\nfor i in range(len(heat)):\n  ct_trees = 0\n  k=0\n  s = len(trees)\n  while k < s:\n    if heat["geometry"].loc[i].contains(trees["geometry"].loc[k]) == True:\n      ct_trees = ct_trees + 1\n      trees.drop(index=k, axis= 0, inplace= True)\n      trees.reset_index(inplace=True)\n      trees.drop(columns=["index"], inplace=True)\n    k = k+1\n\n    heat["trees"].loc[i] = ct_trees\n  print(heat["GEOID10"].loc[i], " was counted");\n  \n\n'

In [222]:
# For some reason that I do not know, the intersect is returning a series 
array = []
for i in trees.index:
  array.append(heat[heat.geometry.intersects(
        trees.loc[i].geometry)]["GEOID10"])

geoid = []
for i in range(len(array)):
  if len(array[i]) == 1:
    geoid.append(array[i].values[0])
  else:
    geoid.append("")

trees["geoid"] = geoid

In [224]:
ct_trees = trees.groupby("geoid").count()
ct_trees

             geometry
geoid
                 6983
42101000100      1060
42101000200       252
42101000300      1086
42101000401       253
...               ...
42101038900       463
42101039000       310
42101980000      8177
42101980100      1033
42101980200       825

[375 rows x 1 columns]

In [225]:
break

SyntaxError: ignored

In [ ]:
if len(array[4273]) == 1:
  
  print("yes")

In [ ]:
len(array[4270])

In [ ]:
heat.crs == trees.crs

In [ ]:
trees["GEOID10"] = ''
# check for each citibike stations to see what CT they are belong to
for i in trees.index:
    a = heat[heat.geometry.intersects(
        trees.loc[i].geometry)]["GEOID10"].values[0]
    
    trees.loc[i,"GEOID10"] = a;

In [ ]:
f, ax = plt.subplots(figsize=(8,8))
trees.plot(column='NAME10', alpha=1, linewidth=0.5,
              ax=ax, cmap='Paired')

In [ ]:
trees["NAME10"].unique()

In [ ]:
trees

In [ ]:
f, ax = plt.subplots(figsize=(10,10))
#ax.set_xlabel("feet easting")
#ax.set_ylabel("feet northing")
#ct_shape.boundary.plot(ax=ax, alpha=0.5)
heat.plot(ax=ax, color="None", edgecolor='k')
trees.plot(ax=ax, c='orange', markersize = 0.5);

In [ ]:
trees_original.loc[0].values[0]

In [ ]:
trees["GEOID10"] = ''
# check for each citibike stations to see what CT they are belong to
for i in trees.index:
    a = heat[heat.geometry.intersects(trees.loc[i].geometry)]["GEOID10"].values[0]
    
    trees.loc[i,'GEOID10'] = a

In [ ]:
b = heat["GEOID10"] == "42101035100"
import numpy as np
np.where(b)[0]

In [ ]:
heat